<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      {{ post.title }}
    </p>  <button class="button is-danger is-light">Supprimer</button>
    <!-- <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>-->
  </header>
  <div class="card-content">
    <div class="content">
      {{post.description}}
      <!--<a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>-->
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
  </div>
  <footer class="card-footer">
    <a href="#" class="card-footer-item">Vote</a>
    <a href="{{post.link}}" class="card-footer-item">Lien</a>
  </footer>
</div>
